<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asksira.imagepickersheetdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE>" />

    <application
        android:name=".App"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


        <activity
            android:name=".activity.SadumFlexible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CustomActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ChangeImageColor" />
        <activity
            android:name=".activity.SpecificSingleImage"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.SpecificKristikActivity"
            android:theme="@style/AppTheme"></activity>
        <!-- <activity -->
        <!-- android:name=".activity.HomeActivity" -->
        <!-- android:label="@string/title_activity_home"></activity> -->
        <activity
            android:name=".activity.DashboardActivity"
            android:label="DiTenun Editor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.asksira.imagepickersheetdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.Sadum1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BM1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChangeColorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ChooseBasicBMTemplate"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ChooseBasicSadum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Sadum2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Sadum3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Sadum4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BM2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BM3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Sadum5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RagiIdupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MangiringActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>